<h1> Currency pairs </h1>

<ul>
  <% @symbols.each do |currency_symbol| %>
    <li>
      <a href="/<%= currency_symbol %>">
        Convert 1 <%= currency_symbol %> to...
      </a>
    </li>
    <% end %>
</ul>
